.Button {
  cursor: pointer;
}

.clear {
  display: flex;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  background: none;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
